body{
  background-color: black;
}

.navbar {
  position: fixed;
  top: 0;
  width: 100%; 
}

.logo {
   padding-top: 200px;
}

.forms{
  border: 1px solid black;
  margin-top: -200px;
  margin-bottom: 50px;
  margin-right: 350px;
  margin-left: 580px;
  background-color: white;   
  width: 100%;
}


.perfil-invest{
  
  margin-top: 200px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h1, h2, h3, p {
  color: white;
}


.carteira{
  margin-top: 200px;
  margin-left: 80px;
}


.forms-2{
  padding-left: 480px;
}
/* 
@media screen and (max-width: 767px) {
	h1 {
	    font-size: 50px; 
    }
    
    .forms{
      font-size: 40%;
    }
} */


.money{
  width: 100px;
  height: 100px;
  display: inline-block;
}